body, html {
  height: 100%;
}

#hero {
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tag-line {
  text-transform: capitalize;
  color: #fff;
}

.container {
    margin: 0px;
}

#meals {
  width: 100%;
  min-height: 25%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

#breakfast, #lunch, #dinner {
  color: #fff;
  background-repeat: no-repeat;
  text-transform: capitalize;
}

#breakfast {
  background-image: url("../assets/foodtop/breakfast.jpg");
}

#lunch {
  background-image: url("../assets/foodtop/lunch.jpg");
}

#dinner {
  background-image: url("../assets/foodtop/dinner.jpg");
}

#about {
  padding: 6% 12%;
}

#about h1 {
  text-transform: capitalize;
}
