body, html {
  height: 100%;
}

/* Full page menu made with help from http://www.jqueryscript.net/menu/Fullpage-Navigation-Menu-with-jQuery-CSS3-Fullscreen-Navbar.html*/
nav {
  position: fixed;
  z-index: 10;
  background-color: #F15A29;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-hide {
  display: none;
}

nav ul li a {
  font-size: 35pt;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.navbar-toggle {
  position: fixed;
  top: 100px;
  left: 120px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  background-color: #ddd;
}

.navbar-on .bar1, .navbar-on .bar2, .navbar-on .bar3 {
  background-color: white;
}

.navbar-on .bar1 {
  transform-origin: 10% 40%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  transform-origin: 10% 40%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 {
  background-color: transparent;
}

#hero {
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tag-line {
  text-transform: capitalize;
  color: #fff;
}

.container {
    margin: 0px;
}

#meals {
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  text-transform: capitalize;
}

#time {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#party-time, #happy-hour {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#happy-hour {
  background-color: #eee;
}

#party-time {

  color: #fff;
  background-color: #F15A29;
}

#breakfast, #lunch, #dinner {
  color: #fff;
  background-repeat: no-repeat;
  text-transform: capitalize;
}

#breakfast {
  background-image: url("../assets/foodtop/breakfast.jpg");
}

#lunch {
  background-image: url("../assets/foodtop/lunch.jpg");
}

#dinner {
  background-image: url("../assets/foodtop/dinner.jpg");
}

#about {
  min-width: 100%;
  padding: 6% 12%;
}

#about h1 {
  text-transform: capitalize;
}

#about button {
  text-transform: uppercase;
}

#drinks {
  display: flex;
  flex-direction: row;
}

#drinks-text {
  text-align: right;
}

#drinks-text, #fast-food-text {
  padding: 50px;
}

.picture-box {
  padding: 5px;
  box-shadow: 0px 0px 25px 3px #aaa;
  width: 500px;
}

#about .row {
  margin: 40px 0px;
}

#foods {
  min-width: 100%;
  height: 400px;
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
